<%= form_for(station) do |f| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "latitudine" %>
    <%= f.number_field :lat, :step => :any %>
  </div>

  <div class="field">
    <%= f.label "longitudine" %>
    <%= f.number_field :long,  :step => :any  %>
  </div>

  <div class="field">
    <%= f.label "indirizzo" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :number_chains %>
    <%= f.number_field :number_chains %>
  </div>

  <div class="field">
    <%= f.label :station_number %>
    <%= f.number_field :station_number %>
  </div>

  <div class="field">
    <%= f.label :free_chains %>
    <%= f.number_field :free_chains %>
  </div>

  <div class="field">
    <%= f.label :station_name %>
    <%= f.text_field :station_name %>
  </div>

  <div class="field">
    <%= f.label :lockers %>
    <%= f.number_field :lockers %>
  </div>

  <div class="field">
    <%= f.label :security %>
    <%= f.number_field :security %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

