<p id="notice"><%= notice %></p>

<p>
  <strong>Latitudine:</strong>
  <%= @station.lat %>
</p>

<p>
  <strong>Longitudine:</strong>
  <%= @station.long %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @station.address %>
</p>

<p>
  <strong>Number chains:</strong>
  <%= @station.number_chains %>
</p>

<p>
  <strong>Station number:</strong>
  <%= @station.station_number %>
</p>

<p>
  <strong>Free chains:</strong>
  <%= @station.free_chains %>
</p>

<p>
  <strong>Station name:</strong>
  <%= @station.station_name %>
</p>

<p>
  <strong>Lockers:</strong>
  <%= @station.lockers %>
</p>

<p>
  <strong>Security:</strong>
  <%= @station.security %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
