
<p id="notice"><%= notice %></p>

 <div class="container-fluid">
   <div class="row">
     <div class="col-sm-2 col-md-offset-2">
      <img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
      <h3>stazione 1</h3>
     </div>
     <div class="col-sm-2">
      <img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
      <h3>stazione 2</h3>
     </div>
     <div class="col-sm-2">
      <img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
      <h3>stazione 3</h3>
     </div>
      <div class="col-sm-2">
       <img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
       <h3>stazione 4</h3>
     </div>
   </div>
   <div class="row">
     <div class="col-sm-2 col-md-offset-2">
      <img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
      <h3>stazione 5</h3>
     </div>
     <div class="col-sm-2">
      <img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
      <h3>stazione 6</h3>
     </div>
     <div class="col-sm-2">
      <img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
      <h3>stazione 7</h3>
     </div>
      <div class="col-sm-2">
       <img src="<%= asset_path "ScambioIdee.jpg" %>" class="img-responsive img-circle">
       <h3>stazione 8</h3>
     </div>
   </div> 
 </div>