<p id="notice"><%= notice %></p>
    
<div class="jumbotron text-center">    
    <h1>Home#welcome</h1>
    <p>Find me in app/views/home/welcome.html.erb</p>
</div>
<% if !current_user.nil? %>
<%=    "benvenuto " + current_user.name + " " + current_user.surname + " (" + current_user.email + ")" %>
<p><%= link_to 'Modifica profilo', edit_user_registration_path, class: 'btn btn-primary' %></p>
<p><%= link_to 'Le stazioni di BeMISecure', stations_path, class: 'btn btn-primary' %></p>
<p><%= link_to 'Esci', destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %></p>
<% else %>
<p><%= link_to 'Accedi', new_user_session_path, class: 'btn btn-primary' %></p>
<p><%= link_to 'Registrati', new_user_registration_path, class: 'btn btn-primary' %></p>
<% end %>

