<%= form_for(chain) do |f| %>
  <% if chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
      <% chain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :securityLevel %>
    <%= f.number_field :securityLevel %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
