<p id="notice"><%= notice %></p>

 
<h1>Chains</h1>

<h1>CIAO VALE :-)</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Model</th>
      <th>Securitylevel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chains.each do |chain| %>
      <tr>
        <td><%= chain.status %></td>
        <td><%= chain.model %></td>
        <td><%= chain.securityLevel %></td>
        <td><%= link_to 'Show', chain %></td>
        <td><%= link_to 'Edit', edit_chain_path(chain) %></td>
        <td><%= link_to 'Destroy', chain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chain', new_chain_path %>
